.book {
    height: 300px;
    display: flex;
    margin: 40px 15px;
    align-items: center;
    border-bottom: 1px dashed black;
    @media screen and (max-width: 576px) {
        margin: 20px;
    }

    &__img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
        border-radius: 10px 10px 0 0;
        margin-right: 20px;
        margin-bottom: 10px;
        img {
        width: 120px;
        height: 170px;
        }
        .btn-group__favorite {
            margin-top: 8px;
            font-size: 30px;
            cursor: pointer;
            color: orange;
            &.active {
                color: orange;
            }
        }
    }

    &__info {
        font-size: 14px;
        flex: 1 0 auto;
        line-height: 2em;
        margin: 0 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        word-break: break-all;
        @media screen and (max-width: 576px) {
            width: 150px;
        }
    }

    &__edit-mode {
        form {
            display: flex;
            flex-direction: column;
            margin: 1px 5px;

            button {
                padding: 3px;
                border-radius: 5px;
                background: green;
                color: white;
            }
        }

        input {
            border-radius: 5px;
            margin: 1px 0;
            padding: 0 2px;
        }
    }

    &__btn-group {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
       
        .btn-group__info {
            margin-top: 15px;
            padding: 5px 10px;
            border-radius: 5px;
            background: rgba(32, 183, 12, 0.678);
            color: #ffffff;
        }
    }
}