.fullBook {
    margin: 80px auto;
    max-width: 1100px;
    padding: 20px;

    @media screen and (max-width: 768px) {
        margin-top: 120px;
        width: 100%;
    }

    &__image {
        float: left;
        width: 250px;
        height: 350px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-right: 1em;

        @media screen and (max-width: 768px) {
            width: 130px;
            height: auto;
            margin-bottom: 20px;
            float: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 6%;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            flex-wrap: wrap;
            flex-direction: column;

        }
    }

    &__info {
        font-size: 16px;
        line-height: 2rem;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__btn-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        font-size: 30px;

        a {
            color: rgb(27, 0, 134);
            border-bottom: 2px solid rgb(27, 0, 134);
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__button {
        font-size: 30px;
        width: 120px;
        height: 35px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #000;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 768px) {
            font-size: 20px;
            width: 120px;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &__description {
        font-size: 15px;
    }

    .text {
        margin-top: 7px;
    }

}