
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 1200px;
    justify-content: space-around;
    height: 60px;
    font-size: 1.2rem;
    background-color: rgba(250, 92, 7, 0.678);
    color: #ffffff;
    z-index: 1;
    @media screen and (max-width: 768px) {
        padding: 40px 0;
        font-size: 1rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
    @media screen and (max-width: 768px) {
        display: none;
    }
    }

    &__logo-img {
        width: 40px;
    }

    &__logo-link {
        color: #ffffff;
        margin-left: 5px;
    }

    &__nav-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
    }

        li {
            margin-left: 12px;

          
            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__nav-list {
        display: inline-block;
        position: relative;
        color: #ffffff;
        &::after{
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                bottom: -2px;
                left: 0;
                right: 0;
                background: rgb(255, 255, 255);
                transition: all 1s;
        }
        &:hover:after {
            width: 100%;
          }
        &.active {
            border-bottom: 2px solid #ffffff;
        }
    }
}

.header__container {
    width: 100vw;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}