.header {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-around;
    height: 50px;

    font-size: 1.2rem;
    background-color: rgb(119, 81, 173);
    color: #ffffff;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-img {
        width: 40px;
    }

    &__logo-link {
        color: #ffffff;
        margin-left: 5px;
    }

    &__nav-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin-left: 12px;

          
            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__nav-list {
        display: inline-block;
        position: relative;
        color: #ffffff;
        &::after{
                position: absolute;
                content: "";
                width: 0;
                height: 2px;
                bottom: -2px;
                left: 0;
                right: 0;
                background: rgb(255, 255, 255);
                transition: all 1s;
        }
        &:hover:after {
            width: 100%;
          }
        &.active {
            border-bottom: 2px solid #ffffff;
        }
    }
}

.header__container {
    width: 100vw;
}