.home-page {
    &__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media screen and (max-width: 576px) {
            justify-content: center;
        }

        @media screen and (max-width: 900px) {
            justify-content: center;
        }

        .preloader {
            display: flex;
            margin: 0 auto;
        }


    }

    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            padding: 10px 15px;
            border-radius: 5px;
            background: green;
            color: white;
        }

    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        line-height: 15px;
    }
}